<style >
  #header-container {
    
position:initial !important;
margin-top: -24px !important;
margin-bottom: 50px important;
}
</style>


<div id="header-container">
  <h1 class="pull-left">Batch Alert Management</h1>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="batchBase.filter.showTags = true"
         ng-class="{'filter-active': batchBase.filter.count > 0 && batchBase.filter.showTags}">
      <ul>
        <li class="search-form two-filter-buttons">

           <%= form_tag(batch_path, method: "get") do %>
           <%= text_field_tag :search, nil, placeholder: 'Search'  %>
           <%= submit_tag "Search" %>
          <% end %>
         <!--  <form>
            <input id="batch-search" class="form-control" placeholder="<%= t('search.search') %>"
                   ng-model="batchBase.filter.search" ng-change="batchBase.filter.searchUpdate=true"
                   type="text" uib-popover="<%= t('search.search_all_fields_except_dates') %>"
                   popover-placement="bottom" popoover-class="search-specific-popover" popover-trigger="outsideClick"
                   ng-keypress="($event.which === 13 ) ? !batchBase.filter.searchUpdate || loadFilters():0">
            <span id="search-clear" class="glyphicon glyphicon-remove-circle" ng-click="clearSearch()"
                  ng-if="batchBase.filter.search"></span>
            <div id="batch-alert-search-submit" class="input-group-addon search-button button" ng-disabled="!batchBase.filter.searchUpdate"
                 ng-click="!batchBase.filterss.searchUpdate || loadFilters()" type="submit">
              <i class="fa fa-search"></i>
            </div>
          </form> -->
        </li>
        <li id="batch-clear-ordering" class="sorting-button">
          <a class="button" ng-click="resetOrder()" ng-disabled="batchBase.ordering.orderString === ''"><i
            class="fa fa-unsorted"></i></a>
        </li>
        <li id="batch-filter" class="filter-button">
          <a class="button" data-badge="{{batchBase.filter.count}}"
             ng-click="toggleSidebar('batchBase', batchBase.filter.sideBar);batchBase.filter.showTags = true"
             title="<%= t('generic_buttons.filter') %>">
            <i class="fa fa-filter"></i></a>
        </li>
      </ul>
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in batchBase.filter.sideBar"
            ng-if="filterValue != null && batchBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text"><b>filterName | removeUnderscore | convertToFELevels}}:</b>
            filterValue | filterTag:levels:filterName 
          <button class="close" ng-click="removeFilterTag(filterName, 'batchBase', batchBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="batchBase.filter.showTags = !batchBase.filter.showTags"></a>
    </div>
    <div id="batch-table" class="content-panel" style="width:100%;"
         ng-style="{top: batchBase.filter.count > 0 && batchBase.filter.showTags ? '86px' : '48px'}">
      <div class="table-wrapper" loading urls="/batch">
        <multi-select selected="batchBase.selectedAlerts" key="alert" selected-all="batchBase.selectAllAlerts">
          <table float-thead="vars.floatTheadOptions" class="striped lined" style="width: 2500px;" ng-model="batchBase.batchAlerts">
            <thead>
            <tr>
              <th>Alert ID</th>
              <th>Owner Name</th>
              <th>Priority</th>
              <th>Run Date</th>
              <th>Alert Type</th>
              <th>MCC</th>
              <th>Response</th>
              <th>Allocated To</th>
              <th>Allocated On</th>
              <th>Examined On</th>
              <th>Contact Name</th>
              <th>Open Date</th>
              <th>Post Code</th>
              <th>Country</th>
                
            </tr>
            </thead>
            <tbody>           
              <td> 1</td>
              <td> Unregistered Merchant</td>
              <td> 1</td>
              <td>13/07/2012 11:55</td>
              <td>Auth</td>
              <td>1234</td>
              <td>Review</td>
              <td>Client admin</td>
              <td>10/03/2023 07:08</td>
              <td>15/0/2023 08:53</td>
              <td>null</td>
              <td>13/07/2021 12:39</td>
              <td>null</td>
              <td>null</td>
            </tr>
           </tbody>
          </table>
        </multi-select>
      </div>
    </div>
  </div>

  <div class="full-page-pagination">
    <dir-pagination-controls boundary-links="true" on-page-change="changePage(newPageNumber)" max-size="6"
                             template-url="/templates/layouts/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <div id="page_stats" class="alongside-pagination micro-text"><%= t('pagination.displaying') %>
    batchBase.display.from - batchBase.display.to <%= t('pagination.of') %>
    batchBase.pagination.totalAlerts 
  </div>
  <div class="action-bar primary">
    <ul>
      <li>
      <span>
        <i class="more-info fa fa-question-circle" uib-popover="{{meta.tooltips.batch_forward_alert}}"
           data-unique="1"
           popover-placement="top" popover-trigger="mouseenter" html="false" container="body"
           data-container="body"></i>
      </span>
      </li>
      <li>
        <a id="batch-forward" ng-click="checkSelection() === false || openForwardAlert()" class="button"
           ng-disabled="checkSelection() === false" ng-class="checkSelection() === false ? 'disabled' : ''">
          <%= t('batch.forward_alerts') %></a>
      </li>
      <li>
        <a id="batch-delete" ng-click="checkSelection() === false || openConfirmation()" class="button"
           ng-disabled="checkSelection() === false" ng-class="checkSelection() === false ? 'disabled' : ''"><%=
          t('batch.examine_alerts') %></a>
      </li>
    </ul>
  </div>
</div>


