
<div id="header-container">
  <h1 class="pull-left">Statistics</h1>

  <div class="pull-right" style="margin:20px;">
    <!-- <a id="stat-new" class="button" href="/statistics/new" ng-click="resetAll()" required-user role="rule_manager"
       level="member">
       <%= t('statistics.index.new_statistic') %> -->
    </a>
  </div>
</div>
<div id="page-contents" class="with-header-container with-fullpage-action-bar no-footer">
  <div id="feature-list" class="container_24" loading urls="/statistics">
    <div id="statistics-list-section" class="grid_20 prefix_2 alpha omega group">
      <div class="section" style="top:20px; margin-bottom:40px;">
        <div class="filter" ng-init="statsBase.filter.showTags = true"
             ng-class="{'filter-active': statsBase.filter.count > 0 && statsBase.filter.showTags}">
          <ul>
            <li class="search-form">
            
           <%= form_tag(statistics_path, method: "get") do %>
            <%= text_field_tag :search, nil, placeholder: 'Search', class: "inputwidth"  %>
             <%= button_tag type: 'submit', class: "button postfix" do %>
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px; margin: 2px;">
  <path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <% end %>
          <% end %>
        </li>
<!--         <li id="auth-clear-ordering" class="sorting-button">
          <a class="button" style="width: 25px; background: #4495D1;position: relative;" ng-click="resetOrder()" ng-disabled="authsBase.ordering.orderString === ''">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; position: relative; bottom: 5px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; transform: rotate(180deg);position: absolute;
    left: 21px;
    top: 13px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
          </a>
        </li> -->
        <li id="stat-filter" class="filter-button">
          <a class="button"
             ng-click="toggleSidebar('statsBase', statsBase.filter.sideBar);statsBase.filter.showTags = true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px;">
  <path fill="white" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
        </li>
      </ul>
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in authsBase.filter.sideBar"
            ng-if="filterValue != null && authsBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text">
          
          <button class="close" ng-click="removeFilterTag(filterName, 'authsBase', authsBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>      
          <ul class="filter-list">
            <li ng-repeat="(filterName, filterValue) in statsBase.filter.sideBar"
                ng-if="filterValue != null && statsBase.filter.showTags"
                class="filter-tag alert alert-success text-capitalise micro-text">
              
              <button class="close" ng-click="removeFilterTag(filterName, 'statsBase', statsBase.filter)">
                <i class="glyphicon glyphicon-remove-circle"></i>
              </button>
            </li>
          </ul>
          <a id="hideFilterTags" class="fa fa-angle-double-up"
             ng-click="statsBase.filter.showTags = !statsBase.filter.showTags"></a>
        </div>
        <!-- search filters -->
        <form id="filters" class="form-inline group" role="form">
          <div id="stat_sort" class="container">
            <!-- <div id="page_stats" class="pull-right micro-text"><%= t('pagination.displaying') %> {{
              statsBase.display.from }} - {{ statsBase.display.to }} <%= t('pagination.of') %> {{
              statsBase.pagination.totalStats }} -->
            </div>
          </div>
        </form>
        <div id="projects-list">
         
          <div id="modelTitleRow{{$index}}" class="container">
            <p ng-if="statsBase.allStats.length < 1"><%= t('search.no_results_found') %></p>
            <div id="statistic-list" class="result feature-item"
                 dir-paginate="statistic in statsBase.allStats | itemsPerPage: statsBase.pagination.statsPerPage"
                 current-page="statsBase.pagination.currentPage" total-items="statsBase.pagination.totalStats">
              <div class="container_24 slim_margin group">
               
                <!-- <div class="grid_1 alpha checkbox" required-user role="rule_manager" level="member">
                  <input id="statistic{{$index}}" class="checkbox" type="checkbox" name="statistics[]"
                         value="statistic.id"
                         ng-model="statsBase.selectedStats[$index]" ng-true-value="{{statistic.id}}">
                  <label class="checkbox-label" for="statistic{{$index}}"></label>
                </div> -->
               <!--  <div bindonce class="grid_23 omega">
                  <div class="feature-item-title-container">
                    <h3 bo-text="statistic.stat_code"></h3>
                  </div>
                  <div class="meta group">
                    <div class="grid_5 alpha" style="min-width: 165px;">
                      <label class="blue-label" title="<%= t('statistics.index.created_at') %>">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </label>&nbsp;
                      <p class="inline" bo-text="statistic.created_at | date:'dd/MM/yyyy HH:mm'"></p>
                    </div>
                    <div class="grid_7">
                      <label class="blue-label" title="<%= t('statistics.new.operation') %>">
                        <i class="glyphicon glyphicon-tags"></i>
                      </label>&nbsp;
                      <p class="inline" bo-text="statistic.category"></p>
                    </div>
                    <div class="grid_10">
                      <label class="blue-label" title="<%= t('statistics.new.group_by') %>">
                        <i class="glyphicon glyphicon-th-large"></i>
                      </label>&nbsp;
                      <p class="inline" bo-text="statistic.grouping_factor.description | removeId"></p>
                    </div>
                  </div>
                  <p bo-text="statistic.description" class="statistic-description" style="opacity:0.75;"
                     ng-if="statistic.description !== '' ">
                  </p>
                </div>
              </div> -->
              <!-- search result expandable -->
              <!-- <div ng-if="statistic.isDescriptionHidden" class="model-full-description group">
                <div>
                  <div class="feature-detail-view">
                    <div class="grid_24 alpha omega" style="margin-top: 5px;width:100%;">
                      <div class="feature-detail-row">
                        <div id="sidebar" class="sidebar-left sidebar-menu model-detail-sidebar">
                          <ul id="modelListProgressStages" class="panel-list menu-list">
                            <li ng-repeat="stage in statistic.stages"
                                ng-class="{ selected: stage.active }"
                                class="simple-link-button"
                                ng-click="updateCurrentViewStage(statistic, stage)">
                              {{ stage.name }}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="feature-detail-summary" bindonce>
                        <div ng-switch on="statistic.currentStage">
                          <div ng-switch-when="Overview" class="content-panel" style="width: 100%;">
                            <div class="grid_24 alpha omega static-data-scroll-div content-panel compress">
                              <div class="inner">
                                <h4><%= t('statistics.index.overview') %></h4>
                                <di -->
                                 <!--  <table class="vertical-table pull-left no-hover">
                                    <tbody>
                                    <tr>
                                      <th><%= t('statistics.index.updated_at') %></th>
                                      <td bo-text="statistic.updated_at | date:'dd/MM/yyyy HH:mm'"></td>
                                    </tr>
                                    <tr>
                                      <th><%= t('statistics.index.group_by') %></th>
                                      <td bo-text="statistic.grouping_factor.description | removeId"></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="grid_24 alpha omega static-data-scroll-div content-panel compress">
                              <div class="inner">
                                <h4><%= t('statistics.index.owner') %></h4>
                                <div class="grid_12 alpha">
                                  <table class="vertical-table pull-left no-hover">
                                    <tbody>
                                    <tr>
                                      <th><%= t('statistics.index.type') %></th>
                                      <td bo-text="statistic.owner_type"></td>
                                    </tr>
                                    <tr>
                                      <th><%= t('statistics.index.name') %></th>
                                      <td bo-text="statistic.owner_id"></td>
                                    </tr>
                                    </tbody>
                                  </table> -->
                                </div>
                              </div>
                            </div>
                          </div>
                          
                            
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- results-contents
          </div><!-- ng-repeat -->
        </div>
      </div>
    </div>
    
  <div class="action-bar primary">
    <ul>
     
    </ul>
  </div>
</div>
  </div>
</div>

