<div id="header-container">
  <h1 class="pull-left">User Management</h1>

  <div class="pull-right" style="margin:20px;">
    <a id="user-new" class="button" href="/users/new" required-user role="admin">
      <%= t('users.index.new_user') %></a>
  </div>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="usersBase.filter.showTags = true"
         ng-class="{'filter-active': usersBase.filter.count > 0 && usersBase.filter.showTags}">
      <ul>
        <li class="search-form">
         <!--  <form>
            <input id="user-search" class="form-control" placeholder="<%= t('search.search') %>"
                   ng-model="usersBase.filter.search" ng-change="usersBase.filter.searchUpdate=true"
                   type="text" uib-popover="<%= t('users.index.tooltip') %>"
                   popover-placement="bottom" popover-trigger="outsideClick"
                   ng-keypress="($event.which === 13 ) ? !usersBase.filter.searchUpdate || loadFilters():0">
            <span id="search-clear" class="glyphicon glyphicon-remove-circle"
                  ng-click="clearSearch()" ng-if="usersBase.filter.search"></span>

            <div id="user-search-submit" class="input-group-addon search-button button"
                 ng-disabled="!usersBase.filter.searchUpdate" ng-click="!usersBase.filter.searchUpdate || loadFilters()"
                 type="submit"><i
              class="fa fa-search"></i>
            </div>
          </form> -->
                    <%= form_tag(customers_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search]) %>
          <%= submit_tag ("Search") %>
          <% end %>
            
        </li>
        <li id="user-filter" class="filter-button">
          <a class="button" data-badge="{{usersBase.filter.count}}"
             ng-click="toggleSidebar('usersBase', usersBase.filter.sideBar);usersBase.filter.showTags = true"
             title="<%= t('generic_buttons.filter') %>">
            <i class="fa fa-filter"></i></a>
        </li>
      </ul>
      <ul class="filter-list">
        <li ng-repeat="(filterName, filterValue) in usersBase.filter.sideBar"
            ng-if="filterValue != null && usersBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text">
          <b>{{filterName | removeUnderscore | convertToFELevels}}:</b>
          {{filterValue | filterTag:levels:filterName }}
          <button class="close" ng-click="removeFilterTag(filterName, 'usersBase', usersBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="usersBase.filter.showTags = !usersBase.filter.showTags"></a>
    </div>
    <div id="user-table" class="content-panel" style="width:100%;"
         ng-style="{top: usersBase.filter.count > 0 && usersBase.filter.showTags ? '95px' : '48px'}">
      <div class="table-wrapper" loading urls="/users">
        <multi-select selected="usersBase.selectedUsers" key="user" selected-all="usersBase.selectAllUsers">
          <table id="table-highlighted-contents"
                 class="table-highlighted-contents-list striped lined" float-thead="vars.floatTheadOptions"
                 ng-model="usersBase.users">
            <thead>
            <tr>
              <th><%= t('users.index.name') %></th>
              <th><%= t('users.index.enabled') %></th>
              <th><%= t('users.index.user_group') %></th>
              <th><%= t('users.index.email') %></th>
              <th><%= t('users.index.owner_type') %></th>
              <th><%= t('users.index.owner_name') %></th>
              <th><%= t('users.index.last_visit_date') %></th>
              <th><%= t('users.index.registration_date') %></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="user in usersBase.users | itemsPerPage: usersBase.pagination.usersPerPage"
                id="user{{$index}}" bindonce
                total-items="usersBase.pagination.totalUsers"
                current-page="usersBase.pagination.currentPage"
                ng-class="(user.enabled === true) ? 'highlighted-green' : 'highlighted-red'">
              <td>client admin</td>
              <td>true</td>
              <td>Admin</td>
              <td >client_admin@aicorp.com</td>
              <td>Client</td>
              <td>Unregistered Member</td>
              <td>10/03/23 14:24</td>
              <td>13/07/23 14:42</td>
            </tr>
            <!-- <tr ng-if="usersBase.users.length < 1">
              <td colspan=8><%= t('search.no_results') %></td>
            </tr> -->
            </tbody>
          </table>
        </multi-select>
      </div>
    </div>
  </div>

  <div class="full-page-pagination">
    <dir-pagination-controls boundary-links="true" on-page-change="changePage(newPageNumber)" max-size="6"
                             template-url="/templates/layouts/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <div id="page_stats" class="alongside-pagination micro-text"><%= t('pagination.displaying') %> {{
    usersBase.display.from }} - {{ usersBase.display.to }} <%= t('pagination.of') %> {{
    usersBase.pagination.totalUsers }}
  </div>
  <div class="action-bar primary">
    <ul>
      <li>
        <a id="user-edit" ng-click="(checkOneSelected() === false ? $event.preventDefault() : '')"
           href="/users/{{usersBase.selectedUser.id}}" required-user role="admin"
           class="button" ng-disabled="checkOneSelected() === false"
           ng-class="checkOneSelected() === false ? 'disabled' : ''"><%= t('users.index.edit')%></a>
      </li>
      <li>
        <a id="user-disable"
           ng-click="checkSelection() === false || checkState() === false || openConfirmation('block')" required-user
           role="admin" class="button" ng-disabled="checkSelection() === false || checkState() === false"
           ng-class="checkSelection() === false || checkState() === false ? 'disabled' : ''"><%=
          t('users.index.disable')%></a>
      </li>
      <li>
        <a id="user-enable"
           ng-click="checkSelection() === false || checkState() === true || openConfirmation('unblock')" required-user
           role="admin" class="button"
           ng-disabled="checkSelection() === false   || checkState() === true"
           ng-class="checkSelection() === false || checkState() === true ? 'disabled' : ''"><%=
          t('users.index.enable')%></a>
      </li>
    </ul>
  </div>
</div>
