<div id="header-container">
  <h1 class="pull-left">Customer Management</h1>
  <div class="pull-right button-dropdown-group" style="margin:20px 20px 20px 0;" required-user role="admin"
       level="member">
   <button id="customer-new" class="button" ng-click="showCustomerTypes = !showCustomerTypes">
      <%= t('customers.index.new_customer') %>
      <span class="caret"></span>
    </button> 

      <ul class="button-dropdown right-align" ng-init="showCustomerTypes = false" ng-show="showCustomerTypes">
      <li>
        <a id="client" ng-if="user.level < 2" href="/customers/client">
          <%= t('levels.client') %>
        </a>
      </li>
      <li>
        <a id="merchant" ng-if="user.level < 3" href="/customers/merchant">
          <%= t('levels.merchant') %>
        </a>
      </li>
      <li>
        <a id="submerchant" ng-if="user.level < 4" href="/customers/new/submerchant">
          <%= t('levels.submerchant') %>
        </a>
      </li>
    </ul>
  </div>
  <div class="pull-right button-dropdown-group" style="margin:20px;" required-user role="admin">
    <a id="customer-view-my-details" class="button neutral"
       href="/customers/{{auth.currentUser.owner_type | convertToFELevels | lowercase}}s/{{auth.currentUser.owner_id}}">
      <%= t('customers.index.view_my_details') %>
    </a>
  </div>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="customersBase.filter.showTags = true"
         ng-class="{'filter-active': customersBase.filter.count > 0 && customersBase.filter.showTags}">
      <ul>
        <li class="search-form two-filter-buttons">
         
           <%= form_tag(customers_path, method: "get") do %>
            <%= text_field_tag :search, nil, placeholder: 'Search'  %>
             <%= button_tag type: 'submit', class: "button postfix" do %>
              <i class="fa fa-search" aria-hidden="true"></i>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px; margin: 2px;">
  <path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <% end %>
          <% end %>
        </li>
        <li id="customer-clear-ordering" class="sorting-button">
          <a class="button" style="width: 25px; background: #4495D1;position: relative;" ng-click="resetOrder()" ng-disabled="customerBase.ordering.orderString === ''">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; position: relative; bottom: 5px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; transform: rotate(180deg);position: absolute;
    left: 21px;
    top: 13px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
          </a>
        </li>
         <li id="rule-filter" class="filter-button">
          <a class="button"
             ng-click="toggleSidebar('rulesBase', rulesBase.filter.sideBar);rulesBase.filter.showTags = true" >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px;">
  <path fill="white" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
        
        </li>
        
            
        </li>
        <li id="customer-clear-ordering" class="sorting-button">
          <a class="button" ng-click="resetOrder()" ng-disabled="customersBase.ordering.orderString === ''"><i
            class="fa fa-unsorted"></i></a>
        </li>
        <li id="customer-filter" class="filter-button">
          <a class="button" data-badge="{{customersBase.filter.count}}"
             ng-click="toggleSidebar('customersBase', customersBase.filter.sideBar);customersBase.filter.showTags = true"
             title="<%= t('generic_buttons.filter') %>">
            <i class="fa fa-filter"></i></a>
        </li>
      </ul>
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in customersBase.filter.sideBar"
            ng-if="filterValue != null && customersBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text"><b>{{filterName | removeUnderscore | convertToFELevels}}:</b>
          {{filterValue | filterTag:levels:filterName }}
          <button class="close" ng-click="removeFilterTag(filterName, 'customersBase', customersBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="customersBase.filter.showTags = !customersBase.filter.showTags"></a>
    </div>
    <div id="customer-table" class="content-panel" style="width:100%;"
         ng-style="{top: customersBase.filter.count > 0 && customersBase.filter.showTags ? '86px' : '48px'}">
      <div class="table-wrapper" loading urls="/customers">
        <table float-thead="vars.floatTheadOptions" class="striped lined" style="width: 100%;"
               ng-model="customersBase.customers">
          <thead>
          <tr>
            <th>Details</th>
            <th>Internal Code</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>Post Code</th>
            <th>Currency</th>
            <th>MCC</th>
            <th>Business Type</th>
            <th ng-repeat="item in customersBase.headers" id="{{item.name}}"
                ng-click="customersBase.ordering.orderStates[item.order] = !customersBase.ordering.orderStates[item.order]; loadOrder(item.name, customersBase.ordering.orderStates[item.order]); hidden = !hidden"
                ng-style="item.style">
              <span>item.displayName</span>
              <div class="sorting">
                  <span class="sort-order" ng-if="customersBase.ordering.values[item.name]">
                      customersBase.ordering.values[item.name]
                  </span>
                <div class="inverted-arrows"
                     ng-class="{'glyphicon glyphicon-triangle-top': customersBase.ordering.orderStates[item.order], 'glyphicon glyphicon-triangle-bottom': !customersBase.ordering.orderStates[item.order]}"></div>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-class="customersBase.selectedCustomer === customer ? 'active' : ''"
              dir-paginate="customer in customersBase.customers | itemsPerPage: customersBase.pagination.customersPerPage"
              total-items="customersBase.pagination.totalCustomers"
              current-page="customersBase.pagination.currentPage"
              ng-click="customersBase.selectedCustomer = customer">
            <td><a id="expand{{$index}}" class="button secondary" href="/customers/{{customer.id}}"
                   title="<%= t('generic_buttons.details') %>">
              <i class="fa fa-expand"></i></a></td>
            <td>2ccd547e-64b2-4b22-930c-1db708e701a2</td>
            <td>Unregistered Client</td>
            <td> - </td>
            <td> - </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="full-page-pagination">
    <dir-pagination-controls boundary-links="true" on-page-change="changePage(newPageNumber)" max-size="6"
                             template-url="/templates/layouts/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <div id="page_stats" class="alongside-pagination micro-text"><%= t('pagination.displaying') %> {{
    customersBase.display.from }} - {{ customersBase.display.to }} <%= t('pagination.of') %> {{
    customersBase.pagination.totalCustomers }}
  </div>
  <div class="action-bar primary">
    <ul>
      <li>
        <a id="customer-edit"
           href="/customers/{{customersBase.selectedCustomer.type | convertToFELevels | lowercase}}s/{{customersBase.selectedCustomer.id}}"
           required-user role="admin" level="member" class="button"
           ng-disabled="(!customersBase.selectedCustomer)"
           ng-class="(!customersBase.selectedCustomer) ? 'disabled' : ''"><%=t('customers.index.edit_customer')%></a>
      </li>
    </ul>
  </div>
</div>
