<div id="header-container">
  <h1 class="pull-left">Customer Management</h1>
  <div class="pull-right button-dropdown-group" style="margin:20px 20px 20px 0;" required-user role="admin"
       level="member">
    <button id="customer-new" class="button" ng-click="showCustomerTypes = !showCustomerTypes">
      <%= t('customers.index.new_customer') %>
      <span class="caret"></span>
    </button>
    <ul class="button-dropdown right-align" ng-init="showCustomerTypes = false" ng-show="showCustomerTypes">
      <li>
        <a id="client" ng-if="user.level < 2" href="/customers/new/client">
          <%= t('levels.client') %>
        </a>
      </li>
      <li>
        <a id="merchant" ng-if="user.level < 3" href="/customers/new/merchant">
          <%= t('levels.merchant') %>
        </a>
      </li>
      <li>
        <a id="submerchant" ng-if="user.level < 4" href="/customers/new/submerchant">
          <%= t('levels.submerchant') %>
        </a>
      </li>
    </ul>
  </div>
  <div class="pull-right button-dropdown-group" style="margin:20px;" required-user role="admin">
    <a id="customer-view-my-details" class="button neutral"
       href="/customers/{{auth.currentUser.owner_type | convertToFELevels | lowercase}}s/{{auth.currentUser.owner_id}}">
      <%= t('customers.index.view_my_details') %>
    </a>
  </div>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="customersBase.filter.showTags = true"
         ng-class="{'filter-active': customersBase.filter.count > 0 && customersBase.filter.showTags}">
      <ul>
        <li class="search-form two-filter-buttons">
          <form>
            <input id="customer-search" class="form-control" placeholder="<%= t('search.search') %>"
                   ng-model="customersBase.filter.search" ng-change="customersBase.filter.searchUpdate=true"
                   type="text" uib-popover="<%= t('customers.index.tooltip') %>"
                   popover-placement="bottom" popover-trigger="outsideClick"
                   ng-keypress="($event.which === 13 ) ? !customersBase.filter.searchUpdate || loadFilters():0">
            <span id="search-clear" class="glyphicon glyphicon-remove-circle" ng-click="clearSearch()"
                  ng-if="customersBase.filter.search"></span>
            <div id="customer-search-submit" class="input-group-addon search-button button"
                 ng-disabled="!customersBase.filter.searchUpdate" ng-click="!customersBase.filter.searchUpdate || loadFilters()"
                 type="submit"><i class="fa fa-search"></i>
            </div>
          </form>
        </li>
        <li id="customer-clear-ordering" class="sorting-button">
          <a class="button" ng-click="resetOrder()" ng-disabled="customersBase.ordering.orderString === ''"><i
            class="fa fa-unsorted"></i></a>
        </li>
        <li id="customer-filter" class="filter-button">
          <a class="button" data-badge="{{customersBase.filter.count}}"
             ng-click="toggleSidebar('customersBase', customersBase.filter.sideBar);customersBase.filter.showTags = true"
             title="<%= t('generic_buttons.filter') %>">
            <i class="fa fa-filter"></i></a>
        </li>
      </ul>
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in customersBase.filter.sideBar"
            ng-if="filterValue != null && customersBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text"><b>{{filterName | removeUnderscore | convertToFELevels}}:</b>
          {{filterValue | filterTag:levels:filterName }}
          <button class="close" ng-click="removeFilterTag(filterName, 'customersBase', customersBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="customersBase.filter.showTags = !customersBase.filter.showTags"></a>
    </div>
    <div id="customer-table" class="content-panel" style="width:100%;"
         ng-style="{top: customersBase.filter.count > 0 && customersBase.filter.showTags ? '86px' : '48px'}">
      <div class="table-wrapper" loading urls="/customers">
        <table float-thead="vars.floatTheadOptions" class="striped lined" style="width: 100%;"
               ng-model="customersBase.customers">
          <thead>
          <tr>
            <th id="details" style="width:54px;">
              <span><%= t('customers.index.details') %></span>
            </th>
            <th ng-repeat="item in customersBase.headers" id="{{item.name}}"
                ng-click="customersBase.ordering.orderStates[item.order] = !customersBase.ordering.orderStates[item.order]; loadOrder(item.name, customersBase.ordering.orderStates[item.order]); hidden = !hidden"
                ng-style="item.style">
              <span>{{item.displayName}}</span>
              <div class="sorting">
                  <span class="sort-order" ng-if="customersBase.ordering.values[item.name]">
                      {{customersBase.ordering.values[item.name]}}
                  </span>
                <div class="inverted-arrows"
                     ng-class="{'glyphicon glyphicon-triangle-top': customersBase.ordering.orderStates[item.order], 'glyphicon glyphicon-triangle-bottom': !customersBase.ordering.orderStates[item.order]}"></div>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-class="customersBase.selectedCustomer === customer ? 'active' : ''"
              dir-paginate="customer in customersBase.customers | itemsPerPage: customersBase.pagination.customersPerPage"
              total-items="customersBase.pagination.totalCustomers"
              current-page="customersBase.pagination.currentPage"
              ng-click="customersBase.selectedCustomer = customer">
            <td><a id="expand{{$index}}" class="button secondary" href="/customers/{{customer.id}}"
                   title="<%= t('generic_buttons.details') %>">
              <i class="fa fa-expand"></i></a></td>
            <td>{{customer.business.internal_code}}</td>
            <td>{{customer.contact.name}}</td>
            <td>{{customer.contact.address1}}</td>
            <td>{{customer.contact.country}}</td>
            <td>{{customer.contact.post_code}}</td>
            <td>{{customer.business.currency_code}}</td>
            <td>{{customer.business.mcc}}</td>
            <td>{{customer.business.business_type}}</td>
          </tr>
          <tr ng-if="customersBase.customers.length < 1">
            <td colspan=17><%= t('search.no_results') %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="full-page-pagination">
    <dir-pagination-controls boundary-links="true" on-page-change="changePage(newPageNumber)" max-size="6"
                             template-url="/templates/layouts/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <div id="page_stats" class="alongside-pagination micro-text"><%= t('pagination.displaying') %> {{
    customersBase.display.from }} - {{ customersBase.display.to }} <%= t('pagination.of') %> {{
    customersBase.pagination.totalCustomers }}
  </div>
  <div class="action-bar primary">
    <ul>
      <li>
        <a id="customer-edit"
           href="/customers/{{customersBase.selectedCustomer.type | convertToFELevels | lowercase}}s/{{customersBase.selectedCustomer.id}}"
           required-user role="admin" level="member" class="button"
           ng-disabled="(!customersBase.selectedCustomer)"
           ng-class="(!customersBase.selectedCustomer) ? 'disabled' : ''"><%=t('customers.index.edit_customer')%></a>
      </li>
    </ul>
  </div>
</div>
