<style type="text/css">
  tbody {
    font-color: black !important;
  }


</style>


<div id="header-container">
  <h1 class="pull-left"><%= t('authorisations.Authorisations') %></h1>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="authsBase.filter.showTags = true"
         ng-class="{'filter-active': authsBase.filter.count > 0 && authsBase.filter.showTags}">
      <ul>
        <li class="search-form combo-search two-filter-buttons">
         
          <%= form_tag(authorisations_path, method: "get") do %>
            <%= text_field_tag :search, nil, placeholder: 'Search', class:"inputwidth" %>
            <%= button_tag type: 'submit', class: "button postfix" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px; margin: 2px;">
  <path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <% end %>
          <% end %>
        </li>
        <li id="auth-clear-ordering" class="sorting-button">
          <a class="button" style="width: 25px; background: #4495D1;position: relative;" ng-click="resetOrder()" ng-disabled="authsBase.ordering.orderString === ''">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; position: relative; bottom: 5px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; transform: rotate(180deg);position: absolute;
    left: 21px;
    top: 13px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
          </a>
        </li>
        <li id="auth-filter" class="filter-button">
          <a class="button"
             ng-click="toggleSidebar('authsBase', authsBase.filter.sideBar);authsBase.filter.showTags = true"
             ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px;">
  <path fill="white" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
        </li>
      </ul>
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in authsBase.filter.sideBar"
            ng-if="filterValue != null && authsBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text">
          
          <button class="close" ng-click="removeFilterTag(filterName, 'authsBase', authsBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="authsBase.filter.showTags = !authsBase.filter.showTags"></a>
    </div>
    <div id="auth-table" class="content-panel"
         ng-style="{top: authsBase.filter.count > 0 && authsBase.filter.showTags ? '86px' : '48px'}">
      <div class="table-wrapper" style="width:3000px;" loading urls="/authorisations/all">
        <multi-select selected="authsBase.selectedAuths" key="authorisation" selected-all="authsBase.selectAllAuths">
          <table float-thead="vars.floatTheadOptions" class="striped lined" ng-model="authsBase.allAuths">
            <thead>
            <tr>              
              <th>Alert ID</th>
              <th>Fraud Status</th>
              <th>Marked Fraud Date</th>
              <th>Local Transacction Date</th>
              <th>Authorisation Amount</th>
              <th>Local Amount</th>
              <th>Transmission Date</th>
              <th>System Trace Audition No.</th>
              <th>Expiration Date</th>
              <th>MCC</th>
              <th>POS Entry Mode</th>
              <th>POS Condition Code</th>
              <th>Approval Code</th>
                <th>Approval Code</th>
                <th>Approval Code Length</th>
                <th>Retrieval Reference Number</th>
                <th>Card Acceptor Business Code</th>
                     <th>Card Acceptor Terminal ID</th>
                     <th>Card Acceptor ID Code</th>
                     <th>Currency</th>
                     <th>Payee</th>
                     <th>Processing Code </th>
                     <th>Currency Code Billing</th>
              </tr>
            </thead>
            <tbody >
              <td>30088</td>
              <td> </td>
              <td> </td>
              <td>2022-01-15T12:13:00Z</td>
              <td>500.5</td>
              <td>500.5</td>
              <td>2022-01-15T11:22:00Z</td>
              <td>033468</td>
              <td>2020-12-31T23:59:59Z</td>
              <td>1234</td>
              <td>210101654044</td>
            <td>10</td>
            <td>362430</td>
            <td>1</td>
            <td>734015033468</td>
            <td>5812</td>
            <td>55311710</td>
            <td>13870746</td>
            <td>844</td>
            <td>GBP</td>
            <td>Dinners QA</td>
            <td>3000</td>
            <td>844</td>
            </td>
             </tr>
            </tbody>
          </table>
        </multi-select>
      </div>
    </div>
  </div>   

  <div class="full-page-pagination">
   <%= will_paginate @authorisations %>
  </div>
   
  <div class="action-bar primary">
    <ul>
      <li>
        <a id="mark" ng-click="checkSelection() === false || checkState() === 1 || openConfirmation('mark')"
           class="button" ng-disabled="checkSelection() === false || checkState() === 1"
           ng-class="checkSelection() === false || checkState() === true ? 'disabled' : ''"><%=
          t('authorisations.mark')%></a>
      </li>
      <li>
        <a id="unmark" ng-click="checkSelection() === false || checkState() === 0 || openConfirmation('unmark')"
           class="button" ng-disabled="checkSelection() === false || checkState() === 0"
           ng-class="checkSelection() === false || checkState() === false ? 'disabled' : ''"><%=
          t('authorisations.unmark') %></a>
      </li>
    </ul>
  </div>
</div>
 