<div id="header-container">
  <h1 class="pull-left">Alert Override</h1>

  <div class="pull-right" style="margin:20px;">
    <a id="alert-override-new" class="button" href="<%= new_alertoverride_path(@alertoverrides) %>" required-user role="admin, rule_manager, user">
      <%= t('alert_override.index.new_alert_override') %></a>
  </div>
</div>
<div id="page-contents" class="no-footer with-header-container">
  <div class="section full-screen-table with-pagination">
    <div class="filter" ng-init="alertOverridesBase.filter.showTags = true"
         ng-class="{'filter-active': alertOverridesBase.filter.count > 0 && alertOverridesBase.filter.showTags}">
      <ul>
        <li class="search-form">

          <%= form_tag(alertoverrides_path, method: :get) do %>
            <%= text_field_tag :search, nil, placeholder: 'Search', class:"inputwidth" %>
            <%= button_tag type: 'submit', class: "button postfix" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px; margin: 2px;">
  <path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <% end %>
          <% end %>
        </li>
        <li id="alertOverride-clear-ordering" class="sorting-button">
          <a class="button" style="width: 25px; background: #4495D1;position: relative;" ng-click="resetOrder()" ng-disabled="alertOverridesBase.ordering.orderString === ''">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; position: relative; bottom: 5px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 14px; transform: rotate(180deg);position: absolute;
    left: 21px;
    top: 13px;">
  <path fill="white" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
          </a>
        </li>
        <li id="alertOverride-filter" class="filter-button">
          <a class="button"
             ng-click="toggleSidebar('alertOverridesBase', alertOverridesBase.filter.sideBar);alertOverridesBase.filter.showTags = true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px;">
  <path fill="white" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg></a>
        </li>
      </ul>       
           
      <ul class="filter-list" tag-overflow>
        <li ng-repeat="(filterName, filterValue) in alertOverridesBase.filter.sideBar"
            ng-if="filterValue != null && alertOverridesBase.filter.showTags"
            class="filter-tag alert alert-success text-capitalise micro-text">
          <b>{{filterName | removeUnderscore | convertToFELevels}}:</b>
          {{filterValue | filterTag:levels:filterName }}
          <button class="close" ng-click="removeFilterTag(filterName, 'alertOverridesBase', alertOverridesBase.filter)">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </li>
      </ul>
      <a id="hideFilterTags" class="fa fa-angle-double-up"
         ng-click="alertOverridesBase.filter.showTags = !alertOverridesBase.filter.showTags"></a>
    </div>
    <div id="alert-override-table" class="content-panel" style="width:100%;"
         ng-style="{top: alertOverridesBase.filter.count > 0 && alertOverridesBase.filter.showTags ? '86px' : '48px'}">
      <div class="table-wrapper" style="width:3000px;" loading urls="/alertoverrides">
        <multi-select selected="alertOverridesBase.selectedAlertOverrides" key="alertOverride"
                      selected-all="alertOverridesBase.selectAllAlertOverrides">
          <table float-thead="vars.floatTheadOptions" class="striped lined"
                 ng-model="alertOverridesBase.alertOverrides">
            <thead>
            <tr>
              <th>Card number</th>
              <th>Type</th>
              <th>Override Start Time</th>
              <th>Override Expiry Time</th>
              <th>Initiated By</th>
              <th>Rule Id</th>
              <th>Rule Desc</th>
              <th>Owner Level</th>
              <th>Owner</th>
              <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr
              dir-paginate="alertOverride in alertOverridesBase.alertOverrides | itemsPerPage: alertOverridesBase.pagination.alertOverridesPerPage"
              id="alert_override{{$index}}" bindonce
              total-items="alertOverridesBase.pagination.totalAlertOverrides"
              current-page="alertOverridesBase.pagination.currentPage">
              <td>421112******1001</td>
              <td> Block</td>
              <td>10/03/2023 12:18</td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
           </tbody>
          </table>
        </multi-select>
      </div>
    </div>
  </div>

  <div class="full-page-pagination">
    <dir-pagination-controls boundary-links="true" on-page-change="changePage(newPageNumber)" max-size="6"
                             template-url="/templates/layouts/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
  <div id="page_stats" class="alongside-pagination micro-text"><%= t('pagination.displaying') %> {{
    alertOverridesBase.display.from }} - {{ alertOverridesBase.display.to }} <%= t('pagination.of') %> {{
    alertOverridesBase.pagination.totalAlertOverrides }}
  </div>
  <div class="action-bar primary">
    <ul>
      <li>
        <a id="alert-override-edit" ng-click="(checkOneSelected() === false ? $event.preventDefault() : '')"
           href="/alertoverrides/{{alertOverridesBase.selectedAlertOverride.id}}" required-user
           role="admin, rule_manager, user"
           class="button" ng-disabled="checkOneSelected() === false"
           ng-class="checkOneSelected() === false ? 'disabled' : ''"><%= t('alert_override.index.edit')%></a>
      </li>
      <li>
        <a id="alert-override-deactivate" ng-click="checkSelection() === false || openConfirmation('deactivate')"
           required-user role="admin, rule_manager, user" class="button"
           ng-disabled="checkSelection() === false" ng-class="checkSelection() === false ? 'disabled' : ''"><%=
          t('alert_override.index.deactivate')%></a>
      </li>
    </ul>
  </div>
</div>