<style >
#header-global 
#page-navigation ul li {
  margin-right: -4px !important;
</style>

<style >
  #header-global #logo a {
    
line-height: 18px !important;
font-size: 19px !important;
}
</style>

<div id="header-global">
  <div id="logo">
    <a class="ai-icon-home-link" ui-sref="home" >
      <%= image_tag("ai-logo.svg") %>

      <p class="home-link" style="line-height: 34px !important;"><%= t('layouts.application.home') %></p>
    </a>
    <a ui-sref="select" class="app-title" style="line-height:35px !important; font-size:25px !important"><%= t('layouts.application.RiskNet Real Time') %></a>

     <div id="page-navigation" ng-intro-options="introOptions" ng-intro-method="showOnboarding">
    <ul>
      <li id="alerts-nav-options" class="nav-link" style="line-height: 15px !important;" ng-class="{active: $state.includes('alerts')}" ng-model="tabs.alerts"
          required-user role="admin, rule_manager, user">
        <a><%= link_to "Alerts", alerts_path(@alerts) %></a>
        <ul>
          <li id="alerts-nav-options-alerts">
            <a ui-sref="alerts" <%= link_to "Alerts", alerts_path(@alerts) %>
          </li>
          <li required-user role="admin">
            <a ui-sref="batch.index" <%= link_to "Batch Alerts", batch_path(@batch) %>
          </li>
        </ul>
      </li>
      <li class="nav-link" ng-class="{active: $state.includes('rules')}" ng-model="tabs.rules"
          required-user role="admin, rule_manager">
        <a ui-sref="rules.index"><%= link_to "Rules", rules_path(@rules) %></a>
      </li>
      <li class="nav-link" ng-class="{active: $state.includes('statistics')}" ng-model="tabs.stats"
          required-user role="admin, rule_manager, user">
        <a ui-sref="statistics.index"><%= link_to "Statistics", statistics_path(@statistics) %></a>
      </li>          
          <li class="nav-link" required-user role="admin, rule_manager">
        <a ui-sref="advance.index"><%= t('layouts.application.advanced') %></a>
        <ul>
          <li>
            <a ui-sref="authorisations.index" <%= link_to "Authorisations", authorisations_path(@authorisations) %>
          </li>
          <li required-user role="admin, rule_manager, user" level="member, client">
            <a ui-sref="customers.index" <%= link_to "Customers", customers_path(@customers) %>
          </li>
          <li required-user role="admin">
            <a ui-sref="users.index" ng-model="tabs.users"><%= t('layouts.application.user_management') %></a>
          </li>
          <li required-user role="admin, rule_manager, user">
            <a ui-sref="lists.index" <%= link_to "List Management", list_management_path(@list_management) %>
          </li>
          <li required-user role="admin, rule_manager, user">
            <a ui-sref="alertOverride.index" <%= link_to "Alert Override", alert_overrides_path(@lert_overrides) %>
          </li>
        </ul>
      </li>

            <li id="help" class="settings" id="helpStart" data-container="body" class="actions pull_right"
          ng-click="showOnboarding()" ng-model="tabs.help" required-user role="admin, rule_manager, user">
        <div class="nav-link"><%= t('layouts.application.help') %></div>
      </li>
      <li id="options" class="settings" required-user role="admin, rule_manager, user">
        <div class="nav-link"><%= t('layouts.application.options') %></div>
        <ul id="menuOptions">
          <li id="about"><link ui-sref="about" required-user role="admin, rule_manager, user">
            <%= link_to "About", about_path(@about) %></link></li>
          <li id="reset-password"><link ng-click="resetPassword()" required-user role="admin, rule_manager, user">
            <%= link_to "Reset Password", reset_password_path(@reset_password) %></link></li>
          <li required-user role="admin">
            <li id="settings"><link ng-model="tabs.settings"><%= link_to "Settings", settings_path(@settings) %></link></li>
          </li>
          <li id="sign-out"><link ng-click="logout()" required-user role="admin, rule_manager, user"
                                               href="#">
          <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %></link>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</div>